{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleanUp</title>
    <link rel="stylesheet" href="{% static 'main/styles.css' %}">

</head>
    <body>
    <div class="navbar">
        <ul>
            <li class="navbar-txt">CleanUp.</li>
            <li><a class="navbar-link" href="{% url 'index' %}">Home</a></li>
            <li><a class="navbar-link" href="#">About</a></li>
            <li><a class="navbar-link" href="#">Extension</a></li>
            <li><a class="navbar-link" href="#">Contact</a></li>
        </ul>
    </div>

    {% block body %}
    {% endblock %}

    </body>
    {% block script %}
    {% endblock %}
</html>